<nav id="show-page-navigation">
  <ul class="nav-list-show">
    <li class="show-page-nav-item"><%= link_to 'Go To My Projects', current_user  %></li>
    <li class="show-page-nav-item"><a href="">View All Stages of This Project</a></li> 
    <li class="show-page-nav-item"><a href="/">Choose Another Project</a></li> 
  </ul>
</nav>

<h1 class="project-title" data-project-id="<%=@project.id%>"><%= @project.name %> : <span class="stage"></span></h1>


<div id="projectOverview">
  <h1 class="modal-title"><%= @project.name %></h1>
  <h2 class="modal-level"> Difficulty Level: <%= @project.difficulty_level %> </h2>
  <img id="scarf-user-pic" src="/assets/scarf-user-pic">
  <button class="closeModal" data-id="<%= @project.id %>">Let's start!</button>
</div> 



<div class="navbar-header">
  <h1>Instructions</h1>
  
    <ol id="instructions-list"> 
    
        
    </ol>


  <button id="go-back" type="submit" class="missed-something" data-index="0"> Go Back </button>
  <button id="next-stage" type="submit" class="i-am-done" data-index="0">I'm Done!</button>
</div> 

<div id="howToVideo">
  
</div>

