<h1 class="project-title"><%= @project.name %> : <%= @project_stage.first.title %> </h1>


<!-- <div id="projectOverview">
  <h1 class="modal-title"><%= @project.name %></h1>
  <h2 class="modal-level"> Difficulty Level: <%= @project.difficulty_level %> </h2>
  <img src="http://jennozkan.com/wp-content/uploads/2010/12/crochet-scarf-7.jpg">
  <button class="closeModal">Let's start!</button>
</div>   -->
 

<div class="navbar-header">
  <h1>Instructions</h1>
  
  <% @project_stage_instructions.each do |instruction| %>
    <ul> 
      <li><%= instruction.content %></li>    
    </ul>
  <% end %>

  <button id="next-stage" type="submit" class="i-am-done">I'm Done!</button>
</div> 
